body {
  margin: 0;
  position: relative;
}
#header img {
  width: 150px;
}
main {
  position: absolute;
  top: 0;
}
.contenitoreBg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.background {
  width: 100vw;
  height: 100vh;
}

.bottoni {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  align-content: space-between;
  margin: auto;
  gap: 40px;
}

.Btn {
  width: 150px;
  height: 70px;
  border-radius: 10px;
}
#question {
  color: white;
}

.trasparenza {
  display: none;
  visibility: hidden;
}